* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  letter-spacing: 1px;
}

/* Header */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #b8b6b6;
  z-index: 1;
}
.header__container {
  display: flex; /* flex dùng thẻ cha điều khiển các thẻ con, ko tác động đến thẻ cháu (thẻ trong thẻ con đc) -> nên đặt ở thẻ cha*/

  justify-content: space-between; /* trục chính */
  align-items: center; /* trục phụ */
  /* Trục chính flex:  mặc định là chiều ngang, trục phụ là chiều dọc */
  height: 80px;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}
.header__container nav a {
  margin-right: 15px;
  text-decoration: none;
  text-transform: uppercase; /* chuyển đổi thành chữ in hoa */
  font-weight: 500;
  color: white;
  transition: 0.3s;
  padding-right: 30px;
}
.header__container nav a:hover {
  color: #e62b4a;
}
.header__container .active {
  color: #e62b4a;
}
.header__container .logo {
  font-weight: 500;
  font-size: 2rem; /*  1rem~18px */
  color: white;
}

/* Carousel */
.carousel {
  height: 100vh;
  min-height: 500px;
  background: url(./img/home_slider.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Khi hình ảnh zoom ra bị lặp lại thì dùng background-repeat để xử lí . Nếu hình nhỏ thì dùng background-size cover để phủ đầy*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__container {
  width: 60%;
  height: max-content;
  text-align: center;
  color: white;
  padding-top: 80px;
}
.carousel__container h2 {
  font-size: 4rem;
  font-weight: 700;
  margin: 20px 0;
}
.carousel__container p {
  font-size: 20px;
}
.carousel__container button {
  width: 150px;
  height: 60px;
  background: #e62b4a;
  border: none;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}
.carousel__container i {
  margin-top: 20px;
  font-size: 2rem;

  /* animation added */
  animation-name: animate_arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* Service */
.service {
  padding: 80px 0;
  background: #000;
  text-align: center;
}
.service__title {
  text-align: center;
}
.service__title h5 {
  font-size: 20px;
  color: red;
}
.service__title h2 {
  color: white;
  font-size: 50px;
  padding: 20px 0;
}
.service__title p {
  font-size: 23px;
  font-weight: bolder;
  color: #828587;
  padding: 20px 0;
}
.service .slider__item {
  height: 250px;
  padding: 15px;
}
.item__wrapper {
  background: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.item__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  height: 0px;
  width: 5px;
  background: #e62b4a;
  right: 0;
  top: 0;
  /* transform: translateY(-50%); */
  transition: 0.3s;
}
.item__wrapper:hover::before {
  height: 100%;
  /* top: 0; */
}
.item__wrapper i,
.item__wrapper p {
  color: #888888;
}
.item__wrapper i {
  font-size: 50px;
}

.service .service__slider {
  width: 100%;
}

/* Blog */
.blog {
  padding: 80px 0;
}
.blog__text {
  text-align: center;
  padding: 0 40px;
}
.blog__text h5,
.blog__text p {
  color: #888888;
}
.blog__text h5 {
  font-weight: 500;
  padding-bottom: 10px;
}
.blog__text h2 {
  font-size: 50px;
}
.blog__text p {
  font-size: 20px;
  font-weight: 700;
  padding: 40px 0;
}

.blog__list {
  width: 100%;
  /* aspect-ratio: 1/1; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Đơn vị tương đối ~ fraction (fr) */
  gap: 20px;
}
.blog__list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: grayscale(50%) contrast(50%);
}
.blog__item {
  position: relative;
}
.blog__item-1 {
  grid-column: 1 / span 2;
  /* start / end  */
  grid-row: 1 / span 2;
  /* start , số lượng */
}
.blog__item-10 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}
.item__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(230, 43, 74, 0.6);
  opacity: 0;
  transition: 0.3s;
}
.blog__item:hover .item__overlay {
  opacity: 1;
}
.item__overlay .search {
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  top: 60px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
}
.blog__item:hover .search {
  top: 30px;
}
.overlay__title {
  color: white;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

/* Number */
.number {
  padding: 80px 0;
  background: #000;
  color: white;
}
.number__list {
  width: 100%;

  display: flex;
  justify-content: space-around;
  text-align: center;
}
.number__list .number__item span {
  font-size: 3rem;
}

/* Experience */
.experience {
  padding: 80px 0;
  height: 160vh;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(./img/bussiness_img_1.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience__text {
  text-align: center;
}
.experience__text h5 {
  font-size: 20px;
  color: red;
  font-weight: 300;
}
.experience__text h2 {
  color: white;
  font-size: 50px;
  padding: 20px 0;
}
.experience__text p {
  font-size: 23px;
  font-weight: bolder;
  color: #828587;
  padding: 20px 0;
}

.experience__video {
  margin: 30px auto 0;
}
.experience__video video {
  width: 100%;
  object-fit: fill;
}

/* Contact  */
.contact {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__title {
  text-align: center;
}
.contact__title h2 {
  font-size: 50px;
  font-weight: 400;
  padding: 20px 0;
}
.contact__title p {
  font-size: 30px;
  color: #888888;
  padding: 20px 0;
}
.contact__communication {
  display: flex;
}
.contact__map {
  width: 600px;
  height: 550px;
  border: 0;
}
.contact__form form {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.contact__form input,
.contact__form textarea {
  font-size: 20px;
  padding: 15px;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 12px;
  font-weight: 100;
  font-family: monospace;
}
.btnSubmit {
  padding: 9px 15px;
  border: 1px solid black;
  background-color: #000;
  color: #ffffff;
  letter-spacing: 1px;
}

/* Footer */
footer {
  margin-top: -80px;
  background-color: #000;
}
.footer__content {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
.footer__copyrights {
  /* width: ; */
  font-size: 15px;
  color: white;
}
.footer__media {
  display: block;
}
.footer__media a {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 25px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}
.footer__media i {
  color: white;
}
/* Animate for Carousel */
@keyframes animate_arrow {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}

/* Button back-to-top */
.back-to-top {
  bottom: 100px;
  right: 100px;
  background: rgb(169, 162, 162);
  border-radius: 8px;
  position: fixed;
  width: 50px;
  height: 50px;
}
.back-to-top i {
  font-size: 40px;
  padding: 5px 7px;
  color: white;
}
